<div class="wrap">
    <div class="header">
        <div class="search-bar">
            <!-- <form action="need to be filled for the route" method="GET"> -->
            <input type="text">
            <input type="submit" value="Search" style="color:white" />
            </form>
        </div>
        <div class="clear"> </div>
        <div class="header-top-nav">
            <ul>
                <li>
                    <a href="/register">Register</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
                <li>
                    <a href="/auth/orders">My Orders</a>
                </li>
                <!-- <li><a href="#"><span>shopping cart&nbsp;&nbsp;: </span></a><label> &nbsp;noitems</label></li> -->
            </ul>
        </div>
        <div class="clear"> </div>
    </div>
</div>
<div class="clear"> </div>
<div class="top-header">
    <div class="wrap">
        <div class="top-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <!-- <li><a href="about.html">About</a></li> -->
                <!-- <li><a href="store.html">Store</a></li> -->
                <!-- <li><a href="store.html">Featured</a></li> -->
                <!-- <li><a href="blog.html">Blog</a></li> -->
            </ul>
        </div>
        <div class="clear"> </div>
    </div>
</div>
<h1 align="center">
    <span class="label label-primary" style="background-color:#20052bc7">Orders</span>
</h1>
<div>
    {{#each orders}}
    <div class="row" style="border-radius:20px;margin:20px">
        <div class="container" style="padding:10px;border-radius:5px;background-color:#a7a7a7c7">
            <div class="col-sm" style="font-weight:bold;margin-left:20px">Order ID - {{this.orderID}}</div>
            <div class="col-sm" style="font-weight:bold;margin-left:20px">Product Name - {{this.product_name}}</div>
            <div class="col-sm" style="font-weight:bold;margin-left:20px">Product ID - {{this.productID}} </div>
            <div class="col-sm" style="font-weight:bold;margin-left:20px">Order Date - {{this.order_timestamp}}</div>
            <div class="col-sm" style="font-weight:bold;margin-left:20px">Product Price - {{this.product_price}} </div>
        </div>
    </div>
    {{/each}}
</div>